body {
    color: #7F7F7F;
    font: 1em/1.6em "Trebuchet MS", Verdana, sans-serif;
}

#list {
    margin: 0 auto;
    border-collapse: collapse;
    width: 600px;
}

#list tr:nth-child(odd) {
    background-color: #F7F7F7;
    color: #666
}

#list tr {
    height: 45px;
}

#list td:first-child {
    text-align: center;
}

#list tbody tr:hover {
    background-color: #EEE;
    color: #333
}

#list caption,
#list thead th {
    background-color: #E63C1E;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
}

#list th[colspan] {
    background-color: #EEE;
    color: black;
}

@media (max-width: 500px) {
    body {
        font-size: small;
    }

    #list {
        width: 100%;
    }
    #list td:not(:first-child) input {
        width: 5rem;
    }
}